# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python

# PyInstaller
*.spec

# Environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/

# VS Code
.vscode/
.idea/

# Database
instance/